:root {
  --pomodoro-bg: rgb(186, 73, 73);
  --pomodoro-container-bg: rgb(194, 92, 92);
  --pomodoro-text: rgb(186, 73, 73);
  --pomodoro-divider: rgb(167, 66, 66);

  --break-bg: rgb(56, 133, 138);
  --break-container-bg: rgb(79, 146, 150);
  --break-text: rgb(56, 133, 138);
  --break-divider: rgb(69, 118, 123);
}

#root {
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; /* Add this to ensure full width */
  color: white;
  transition: background-color 0.4s ease;
}

.pomodoro {
  background-color: var(--pomodoro-bg);
}

.break {
  background-color: var(--break-bg); 
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}