:root {
  --pomodoro-bg: rgb(173, 80, 77);
  --pomodoro-container-bg: rgb(181, 98, 95);
  --pomodoro-text: rgb(173, 80, 77);
  --pomodoro-divider: rgb(152, 72, 69);

  --break-bg: rgb(77, 131, 137);
  --break-container-bg: rgb(95, 144, 149);
  --break-text: rgb(77, 131, 137);
  --break-divider: rgb(69, 118, 123);
}

#root {
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; /* Add this to ensure full width */
  color: white;
}

.pomodoro {
  background-color: var(--pomodoro-bg);
}

.break {
  background-color: var(--break-bg); 
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}