:root {
  --pomodoro-bg: rgb(186, 73, 73);
  --pomodoro-container-bg: rgb(194, 92, 92);
  --pomodoro-text: rgb(186, 73, 73);
  --pomodoro-divider: rgb(167, 66, 66);

  --break-bg: rgb(56, 133, 138);
  --break-container-bg: rgb(79, 146, 150);
  --break-text: rgb(56, 133, 138);
  --break-divider: rgb(69, 118, 123);

  --longBreak-bg: rgb(57, 112, 151);
  --longBreak-container-bg: rgb(79, 127, 162);
  --longBreak-text: rgb(57, 112, 151);
  --longBreak-divider: rgb(52, 101, 136);
}

#root {
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; /* Ensure full width */
  color: white;
  transition: background-color 0.5s ease; /* Add transition for background color */
}

.pomodoro {
  background-color: var(--pomodoro-bg);
}

.break {
  background-color: var(--break-bg);
}

.longBreak {
  background-color: var(--longBreak-bg);
}

button:focus,
button:active {
  outline: none; /* Ensure outline is removed when button is focused or active */
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-button {
  background-color: white;
  color: var(--pomodoro-text);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}