.divider {
    width: 480px;
    height: 1px;
    margin: 0 auto; 
    transition: background-color 0.4s ease;
    margin-bottom: 20px; 
  }

  .pomodoro .divider {
    background-color: var(--pomodoro-divider);
  }
  
  .break .divider {
    background-color: var(--break-divider);
  }

  .longBreak .divider {
    background-color: var(--longBreak-divider);
  }