.timer {
    padding: 40px;
    border-radius: 10px;
    font-size: 100px; /* Increase font size */
    font-weight: bold;
    color: white;
    text-align: center;
    width: 400px;
    height: 250px; /* Adjust height to accommodate buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.5s ease; /* Add transition for background color */
  }
  
  .pomodoro .timer {
    background-color: var(--pomodoro-container-bg);
  }
  
  .break .timer {
    background-color: var(--break-container-bg);
  }
  
  .longBreak .timer {
    background-color: var(--longBreak-container-bg);
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .tab-button {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
  }
  
  .pomodoro .tab-button.active {
    background-color: var(--pomodoro-bg);
  }
  
  .break .tab-button.active {
    background-color: var(--break-bg);
  }
  
  .longBreak .tab-button.active {
    background-color: var(--longBreak-bg);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Add some space between the timer and the buttons */
    width: 100%; /* Ensure the button container takes full width */
    position: relative; /* Add relative positioning to the button container */
  }

  .start-pause-button {
    color: var(--pomodoro-text);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 5px rgb(235, 235, 235); /* Add a subtle shadow */
    transition: all 0.2s ease; /* Smooth transition for the click effect */
  }

  .start-pause-button.start {
    transform: translateY(-5px); /* Lift the button up slightly */
  }

  .start-pause-button.pause {
    box-shadow: none; /* Remove shadow when button is in PAUSE state */
  }
  
  .pomodoro .start-pause-button {
    color: var(--pomodoro-text);
  }
  
  .break .start-pause-button {
    color: var(--break-text);
  }
  
  .longBreak .start-pause-button {
    color: var(--longBreak-text);
  }
  
  .next-button {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--pomodoro-container-bg);
    position: absolute; /* Position the next button absolutely */
    right: 10px; /* Align the next button to the right */
  }
  
  .pomodoro .next-button {
    background-color: var(--pomodoro-container-bg);
    color: var(--pomodoro-text);
  }
  
  .break .next-button {
    background-color: var(--break-container-bg);
    color: var(--break-text);
  }
  
  .longBreak .next-button {
    background-color: var(--longBreak-container-bg);
    color: var(--longBreak-text);
  }
  
  .next-icon {
    width: 24px;
    height: 24px;
    filter: invert(100%);
  }