.timer {
    padding: 40px;
    border-radius: 10px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 350px;
    height: 250px; /* Adjust height to accommodate buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pomodoro .timer {
    background-color: var(--pomodoro-container-bg);
  }
  
  .break .timer {
    background-color: var(--break-container-bg);
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .tab-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
  }
  
  .pomodoro .tab-button.active {
    background-color: var(--pomodoro-bg);
  }
  
  .break .tab-button.active {
    background-color: var(--break-bg);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Add some space between the timer and the buttons */
    width: 100%; /* Ensure the button container takes full width */
    position: relative; /* Add relative positioning to the button container */
  }
  
  .start-pause-button {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position the start-pause button absolutely */
    left: 50%; /* Center the start-pause button */
    transform: translateX(-50%); /* Center the start-pause button */
  }
  
  .next-button {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(181, 98, 95);
    position: absolute; /* Position the next button absolutely */
    right: 10px; /* Align the next button to the right */
  }

  .pomodoro .start-pause-button {
    background-color: white;
    color: var(--pomodoro-text);
  }

  .break .start-pause-button {
    background-color: white;
    color: var(--break-text);
  }

  .pomodoro .next-button {
        background-color: var(--pomodoro-container-bg);
        color: white;
    }

    .break .next-button {
        background-color: var(--break-container-bg);
        color: white;
    }
  
  .next-icon {
    width: 24px;
    height: 24px;
    filter: invert(100%);
  }